Cic.OpenOne.GateBANKNOW.Common/Service References/DAO.Auskunft.KREMORef/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://intranet.go-for-it.ch/KREMOWebService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://intranet.go-for-it.ch/KREMOWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://intranet.go-for-it.ch/KREMOWebService">
      <s:element name="CallKREMOgetVersion">
        <s:complexType />
      </s:element>
      <s:element name="CallKREMOgetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallKREMOgetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallKREMObyValues">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="in_Value" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="out_Value" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDouble">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="double" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="CallKREMObyValuesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CallKREMObyValuesResult" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="in_Value" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="out_Value" type="tns:ArrayOfDouble" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallKREMOwithPDF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="in_Value" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="out_Value" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="in_Information" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="out_PDF" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CallKREMOwithPDFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CallKREMOwithPDFResult" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="in_Value" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="out_Value" type="tns:ArrayOfDouble" />
            <s:element minOccurs="0" maxOccurs="1" name="in_Information" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="out_PDF" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallKREMOgetProtocol">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Access" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Company" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="DateFrom" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="DateTo" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="Delete" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CallKREMOgetProtocolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CallKREMOgetProtocolResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CallKREMOgetVersionSoapIn">
    <wsdl:part name="parameters" element="tns:CallKREMOgetVersion" />
  </wsdl:message>
  <wsdl:message name="CallKREMOgetVersionSoapOut">
    <wsdl:part name="parameters" element="tns:CallKREMOgetVersionResponse" />
  </wsdl:message>
  <wsdl:message name="CallKREMObyValuesSoapIn">
    <wsdl:part name="parameters" element="tns:CallKREMObyValues" />
  </wsdl:message>
  <wsdl:message name="CallKREMObyValuesSoapOut">
    <wsdl:part name="parameters" element="tns:CallKREMObyValuesResponse" />
  </wsdl:message>
  <wsdl:message name="CallKREMOwithPDFSoapIn">
    <wsdl:part name="parameters" element="tns:CallKREMOwithPDF" />
  </wsdl:message>
  <wsdl:message name="CallKREMOwithPDFSoapOut">
    <wsdl:part name="parameters" element="tns:CallKREMOwithPDFResponse" />
  </wsdl:message>
  <wsdl:message name="CallKREMOgetProtocolSoapIn">
    <wsdl:part name="parameters" element="tns:CallKREMOgetProtocol" />
  </wsdl:message>
  <wsdl:message name="CallKREMOgetProtocolSoapOut">
    <wsdl:part name="parameters" element="tns:CallKREMOgetProtocolResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CallKREMOgetVersion">
      <wsdl:input message="tns:CallKREMOgetVersionSoapIn" />
      <wsdl:output message="tns:CallKREMOgetVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallKREMObyValues">
      <wsdl:input message="tns:CallKREMObyValuesSoapIn" />
      <wsdl:output message="tns:CallKREMObyValuesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallKREMOwithPDF">
      <wsdl:input message="tns:CallKREMOwithPDFSoapIn" />
      <wsdl:output message="tns:CallKREMOwithPDFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CallKREMOgetProtocol">
      <wsdl:input message="tns:CallKREMOgetProtocolSoapIn" />
      <wsdl:output message="tns:CallKREMOgetProtocolSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallKREMOgetVersion">
      <soap:operation soapAction="http://intranet.go-for-it.ch/KREMOWebService/CallKREMOgetVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallKREMObyValues">
      <soap:operation soapAction="http://intranet.go-for-it.ch/KREMOWebService/CallKREMObyValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallKREMOwithPDF">
      <soap:operation soapAction="http://intranet.go-for-it.ch/KREMOWebService/CallKREMOwithPDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallKREMOgetProtocol">
      <soap:operation soapAction="http://intranet.go-for-it.ch/KREMOWebService/CallKREMOgetProtocol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CallKREMOgetVersion">
      <soap12:operation soapAction="http://intranet.go-for-it.ch/KREMOWebService/CallKREMOgetVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallKREMObyValues">
      <soap12:operation soapAction="http://intranet.go-for-it.ch/KREMOWebService/CallKREMObyValues" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallKREMOwithPDF">
      <soap12:operation soapAction="http://intranet.go-for-it.ch/KREMOWebService/CallKREMOwithPDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CallKREMOgetProtocol">
      <soap12:operation soapAction="http://intranet.go-for-it.ch/KREMOWebService/CallKREMOgetProtocol" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://intranet.go-for-it.ch/KREMOWebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://intranet.go-for-it.ch/KREMOWebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>