CIC.OpenOne/Cic.OpenOne.Common/Service References/CASKernel/CASKernel3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cic-software.de/CASKernel" elementFormDefault="qualified" targetNamespace="http://cic-software.de/CASKernel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/CIC.Bas.Services" />
  <xs:element name="CicEval">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CIC.Bas.Services" minOccurs="0" name="eval" nillable="true" type="q1:CASEvaluate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CicEvalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CIC.Bas.Services" minOccurs="0" name="CicEvalResult" nillable="true" type="q2:CASEvaluateOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>