CIC.One/Cic.One.Web/Service References/luceneConfigServiceReference/luceneConfigService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://cic-software.de/One" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://tempuri.org/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="luceneConfigService" targetNamespace="http://cic-software.de/One" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://tempuri.org/" location="http://localhost:8732/luceneConfigService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://cic-software.de/One/Imports">
      <xsd:import schemaLocation="http://localhost:8732/luceneConfigService.svc?xsd=xsd0" namespace="http://cic-software.de/One" />
      <xsd:import schemaLocation="http://localhost:8732/luceneConfigService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8732/luceneConfigService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CIC.ASS.Common.DTO" />
      <xsd:import schemaLocation="http://localhost:8732/luceneConfigService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Lucene.Net.Search" />
      <xsd:import schemaLocation="http://localhost:8732/luceneConfigService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8732/luceneConfigService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/CIC.ASS.SearchService.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IluceneConfigService_queueForIndexUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:queueForIndexUpdate" />
  </wsdl:message>
  <wsdl:message name="IluceneConfigService_queueForIndexUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:queueForIndexUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IluceneConfigService_startIndexer_InputMessage">
    <wsdl:part name="parameters" element="tns:startIndexer" />
  </wsdl:message>
  <wsdl:message name="IluceneConfigService_startIndexer_OutputMessage">
    <wsdl:part name="parameters" element="tns:startIndexerResponse" />
  </wsdl:message>
  <wsdl:message name="IluceneConfigService_searchEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:searchEntities" />
  </wsdl:message>
  <wsdl:message name="IluceneConfigService_searchEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IluceneConfigService_suggest_InputMessage">
    <wsdl:part name="parameters" element="tns:suggest" />
  </wsdl:message>
  <wsdl:message name="IluceneConfigService_suggest_OutputMessage">
    <wsdl:part name="parameters" element="tns:suggestResponse" />
  </wsdl:message>
  <wsdl:portType name="IluceneConfigService">
    <wsdl:operation name="queueForIndexUpdate">
      <wsdl:input wsaw:Action="http://cic-software.de/One/IluceneConfigService/queueForIndexUpdate" message="tns:IluceneConfigService_queueForIndexUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://cic-software.de/One/IluceneConfigService/queueForIndexUpdateResponse" message="tns:IluceneConfigService_queueForIndexUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="startIndexer">
      <wsdl:input wsaw:Action="http://cic-software.de/One/IluceneConfigService/startIndexer" message="tns:IluceneConfigService_startIndexer_InputMessage" />
      <wsdl:output wsaw:Action="http://cic-software.de/One/IluceneConfigService/startIndexerResponse" message="tns:IluceneConfigService_startIndexer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchEntities">
      <wsdl:input wsaw:Action="http://cic-software.de/One/IluceneConfigService/searchEntities" message="tns:IluceneConfigService_searchEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://cic-software.de/One/IluceneConfigService/searchEntitiesResponse" message="tns:IluceneConfigService_searchEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="suggest">
      <wsdl:input wsaw:Action="http://cic-software.de/One/IluceneConfigService/suggest" message="tns:IluceneConfigService_suggest_InputMessage" />
      <wsdl:output wsaw:Action="http://cic-software.de/One/IluceneConfigService/suggestResponse" message="tns:IluceneConfigService_suggest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="luceneConfigService">
    <wsdl:port name="WSHttpBinding_IluceneConfigService" binding="i0:WSHttpBinding_IluceneConfigService">
      <soap12:address location="http://localhost:8732/luceneConfigService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:8732/luceneConfigService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>