CIC.OpenOneGateBANKNOW/Cic.OpenOne.GateBANKNOW.Common/Service References/DAO.Auskunft.RISKEWBS1Ref/SimpleService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SimpleService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SimpleService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SsInputParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="InputString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SysAuskunft" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SsInputParams" nillable="true" type="tns:SsInputParams" />
</xs:schema>