CIC.One/Cic.One.Web/Service References/luceneSearchServiceReference/luceneSearchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8732/luceneSearchService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CIC.ASS.SearchService.DTO" />
  <xs:import schemaLocation="http://localhost:8732/luceneSearchService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="search">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="perole" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CIC.ASS.SearchService.DTO" minOccurs="0" name="searchResult" nillable="true" type="q1:ArrayOfSearchResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="query" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="perole" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="entities" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="additionalQuery" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CIC.ASS.SearchService.DTO" minOccurs="0" name="searchEntitiesResult" nillable="true" type="q2:ArrayOfSearchEntityResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="suggest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="term" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="suggestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="suggestResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>