Cic.OpenOne.GateBANKNOW.Common/Service References/ch.bn.iamws/B2BOL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IAMWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IAMWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="B2BResponseContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="tns:B2BStatusContract" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfB2BContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="B2BResponseContract" nillable="true" type="tns:B2BResponseContract" />
  <xs:complexType name="B2BStatusContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="B2BStatusContract" nillable="true" type="tns:B2BStatusContract" />
  <xs:complexType name="ArrayOfB2BContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="B2BContract" nillable="true" type="tns:B2BContract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfB2BContract" nillable="true" type="tns:ArrayOfB2BContract" />
  <xs:complexType name="B2BContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Created" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Modified" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="B2BContract" nillable="true" type="tns:B2BContract" />
</xs:schema>