CIC.OpenOneGateBANKNOW/Cic.OpenOne.GateBANKNOW.Common/Service References/IBANService/IBANKernel32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IBANKernel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IBANKernel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="IBANInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="bankId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="bankName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="iban" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IBANInfo" nillable="true" type="tns:IBANInfo" />
</xs:schema>