CIC.OpenOneGateBANKNOW/Cic.OpenOne.GateBANKNOW.Common/Service References/ch.bn.iamws/B2BOL11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IB2BOL_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://se-dnexec/B2BOL/B2BOL.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://se-dnexec/B2BOL/B2BOL.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://se-dnexec/B2BOL/B2BOL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IAMWS" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IB2BOL_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IB2BOL_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IB2BOL_SetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUser" />
  </wsdl:message>
  <wsdl:message name="IB2BOL_SetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IB2BOL_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IB2BOL_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IB2BOL_SetPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPassword" />
  </wsdl:message>
  <wsdl:message name="IB2BOL_SetPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IB2BOL">
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IB2BOL/GetUser" message="tns:IB2BOL_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IB2BOL/GetUserResponse" message="tns:IB2BOL_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IB2BOL/SetUser" message="tns:IB2BOL_SetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IB2BOL/SetUserResponse" message="tns:IB2BOL_SetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IB2BOL/CreateUser" message="tns:IB2BOL_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IB2BOL/CreateUserResponse" message="tns:IB2BOL_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IB2BOL/SetPassword" message="tns:IB2BOL_SetPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IB2BOL/SetPasswordResponse" message="tns:IB2BOL_SetPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IB2BOL" type="tns:IB2BOL">
    <wsp:PolicyReference URI="#WSHttpBinding_IB2BOL_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/IB2BOL/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUser">
      <soap12:operation soapAction="http://tempuri.org/IB2BOL/SetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap12:operation soapAction="http://tempuri.org/IB2BOL/CreateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPassword">
      <soap12:operation soapAction="http://tempuri.org/IB2BOL/SetPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>