CIC.OpenOneGateBANKNOW/Cic.OpenOne.GateBANKNOW.Common/Service References/ch.bn.iamws/B2BOL2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://mb-r500.cic.muc/IAMWS/B2BOL.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IAMWS" />
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IAMWS" minOccurs="0" name="GetUserResult" nillable="true" type="q1:B2BResponseContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IAMWS" minOccurs="0" name="user" nillable="true" type="q2:B2BContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IAMWS" minOccurs="0" name="SetUserResult" nillable="true" type="q3:B2BResponseContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IAMWS" minOccurs="0" name="user" nillable="true" type="q4:B2BContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/IAMWS" minOccurs="0" name="CreateUserResult" nillable="true" type="q5:B2BResponseContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPassword">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IAMWS" minOccurs="0" name="SetPasswordResult" nillable="true" type="q6:B2BStatusContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>