CIC.OpenOne/Cic.OpenOne.TestUI/Service References/SampleServiceReference/SampleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Cic.OpenOne.Common.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Cic.OpenOne.Common.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="oBaseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="oBaseDto" nillable="true" type="tns:oBaseDto" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="duration" type="xs:long" />
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="stacktrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type" type="tns:MessageType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Debug" />
      <xs:enumeration value="Info" />
      <xs:enumeration value="Warn" />
      <xs:enumeration value="Error" />
      <xs:enumeration value="Fatal" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
</xs:schema>